<div class="container__big-card">
    <div class="big-card__foto">
        <img src="https://images.guitarguitar.co.uk/cdn/small/160/753_gg_acouVelec_epis.jpg"
        alt=""
        height="200px"
        >
    </div>
    <div class="big-card__title">
        <h3><a href="#"> vamos colocar a descição principal aqui</a></h3>
    </div>
    <div class="big-card__descricao">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            quaerat.
        </p>
    </div>
</div>